In [18]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
from pandas_profiling import ProfileReport
import seaborn as sns
import matplotlib.pyplot as plt

#expanding the view of Jupyter
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))


df = pd.read_excel('raw_data/Dataset for Entrance Exam – Tracks 1 and 2.xlsx')
#df = pd.read_excel(r'~\Documents\Python Scripts\python entrance exam\Dataset for Entrance Exam – Tracks 1 and 2.xlsx')
print("========================")
print("EDA: Column headings:")
print("========================")
print(df.columns)
print("========================")
print("EDA: Sample of Data:")
print("========================")
print(df.sample(5))

========================
EDA: Column headings:
========================
Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')
========================
EDA: Sample of Data:
========================
                         name mfr type  calories  protein  fat  sodium  fiber  \
16                Corn Flakes   K    C       100        2    0     290    1.0
22     Crispy Wheat & Raisins   G    C       100        2    1     140    2.0
3   All-Bran with Extra Fiber   K    C        50        4    0     140   14.0
72                    Triples   G    C       110        2    1     250    0.0
20     Cream of Wheat (Quick)   N    H       100        3    0      80    1.0

    carbo  sugars  potass  vitamins  shelf  weight  cups     rating
16   21.0       2      35        25      1     1.0  1.00  45.863324
22   11.0      10     120        25      3     1.0  0.75  36.176196
3     8.0       0     330        25      3     1.0  0.50  93.704912
72   21.0       3      60        25      3     1.0  0.75  39.106174
20   21.0       0      -1         0      2     1.0  1.00  64.533816

In [19]:
print("========================")
print("EDA: Descriptive Stat:")
print("========================")
df.describe()

========================
EDA: Descriptive Stat:
========================

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [20]:
print("========================")
print("EDA: Shape:")
print("========================")
df.shape

========================
EDA: Shape:
========================

(77, 16)

In [21]:
print("========================")
print("EDA: Data Types:")
print("========================")
df.info()

========================
EDA: Data Types:
========================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      77 non-null     object
 1   mfr       77 non-null     object
 2   type      77 non-null     object
 3   calories  77 non-null     int64
 4   protein   77 non-null     int64
 5   fat       77 non-null     int64
 6   sodium    77 non-null     int64
 7   fiber     77 non-null     float64
 8   carbo     77 non-null     float64
 9   sugars    77 non-null     int64
 10  potass    77 non-null     int64
 11  vitamins  77 non-null     int64
 12  shelf     77 non-null     int64
 13  weight    77 non-null     float64
 14  cups      77 non-null     float64
 15  rating    77 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.8+ KB

In [26]:
print("========================")
print("EDA: Plot Cereal Rating:")
print("========================")
plt.figure(figsize=(9,8))
sns.distplot(df['rating'], color='g', bins=100, hist_kws={'alpha': 0.4})
plt.savefig('EDA_documents/Cereal-Rating-dist.png')

========================
EDA: Plot Cereal Rating:
========================

In [27]:
print("========================")
print("EDA: Plot other interger columns:")
print("========================")
df_num = df.select_dtypes(include = ['float64', 'int64'])
df_num.hist(figsize=(16,20), bins=50, xlabelsize=8, ylabelsize=8)
plt.savefig('EDA_documents/Plot_other_interger_columns.png')

========================
EDA: Plot other interger columns:
========================

In [28]:
print("========================")
print("EDA: Correlations:")
print("========================")
df_num_corr = df_num.corr()['rating'][:-1]
features = df_num_corr[abs(df_num_corr) > 0.5].sort_values(ascending=False)
print("There are {} strongly correlated values with rating:\n{}".format(len(features), features))

========================
EDA: Correlations:
========================
There are 3 strongly correlated values with rating:
fiber       0.584160
calories   -0.689376
sugars     -0.759675
Name: rating, dtype: float64

In [29]:
print("========================")
print("EDA: Missing Values:")
print("========================")
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Missing Percent'])
missing_data['Missing Percent'] = missing_data['Missing Percent'].apply(lambda x: x * 100)
missing_data.loc[missing_data['Missing Percent'] > 10][:10]

========================
EDA: Missing Values:
========================

Empty DataFrame
Columns: [Total, Missing Percent]
Index: []

In [30]:
print("========================")
print("Non_Nutritional ranking based on sodium, sugar, calories columns:")
print("========================")


df["Cereal_Non_Nutritional_Total"] = df["sodium"] + df["sugars"] + df["calories"]
df["Cereal_Non_Nutritional_Ranking"] = df["Cereal_Non_Nutritional_Total"].rank(method='dense', ascending=True)

df.head()

========================
Non_Nutritional ranking based on sodium, sugar, calories columns:
========================

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Cereal_Non_Nutritional_Total,Cereal_Non_Nutritional_Ranking
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,206,15.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,143,9.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,335,45.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,190,12.0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,318,38.0

In [31]:
print("========================")
print("Nutritional Ranking based on fiber, potassium, vitamins columns:")
print("========================")


df["Cereal_Nutritional_Total"] = df["fiber"] + df["potass"] + df["vitamins"]
df["Cereal_Nutritional_Ranking"] = df["Cereal_Nutritional_Total"].rank(method='dense', ascending=False)

df.head()

========================
Nutritional Ranking based on fiber, potassium, vitamins columns:
========================

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,Cereal_Non_Nutritional_Total,Cereal_Non_Nutritional_Ranking,Cereal_Nutritional_Total,Cereal_Nutritional_Ranking
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,206,15.0,315.0,4.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,143,9.0,137.0,24.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,335,45.0,354.0,2.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,190,12.0,369.0,1.0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,318,38.0,25.0,56.0

In [32]:
df_non_nutritional_ranking = df[['name','type','mfr', 'cups','rating','Cereal_Non_Nutritional_Total','Cereal_Non_Nutritional_Ranking']]
df.sort_values(by=['Cereal_Non_Nutritional_Ranking'], inplace=True, ascending=True)
df_non_nutritional_ranking.head()

,name,type,mfr,cups,rating,Cereal_Non_Nutritional_Total,Cereal_Non_Nutritional_Ranking
0,100% Bran,C,N,0.33,68.402973,206,15.0
1,100% Natural Bran,C,Q,1.00,33.983679,143,9.0
2,All-Bran,C,K,0.33,59.425505,335,45.0
3,All-Bran with Extra Fiber,C,K,0.50,93.704912,190,12.0
4,Almond Delight,C,R,0.75,34.384843,318,38.0

In [33]:
df_nutritional_ranking = df[['name','type','mfr', 'cups','rating', 'Cereal_Nutritional_Total', 'Cereal_Nutritional_Ranking']]
df.sort_values(by=['Cereal_Nutritional_Ranking'], inplace=True, ascending=True)
df_nutritional_ranking.head()

,name,type,mfr,cups,rating,Cereal_Nutritional_Total,Cereal_Nutritional_Ranking
55,Puffed Wheat,C,Q,1.00,63.005645,51.0,53.0
54,Puffed Rice,C,Q,1.00,60.756112,15.0,57.0
63,Shredded Wheat,C,N,1.00,68.235885,98.0,38.0
65,Shredded Wheat spoon size,C,N,0.67,72.801787,123.0,29.0
64,Shredded Wheat 'n'Bran,C,N,0.67,74.472949,144.0,21.0

In [34]:
print("========================")
print("Nutritional Ranking Comparison")
print("========================")


df_nutritional_compare_ranking = df[['name','rating','Cereal_Non_Nutritional_Total','Cereal_Nutritional_Total','Cereal_Non_Nutritional_Ranking','Cereal_Nutritional_Ranking']]
df_nutritional_compare_ranking.head()

========================
Nutritional Ranking Comparison
========================

,name,rating,Cereal_Non_Nutritional_Total,Cereal_Nutritional_Total,Cereal_Non_Nutritional_Ranking,Cereal_Nutritional_Ranking
3,All-Bran with Extra Fiber,93.704912,190,369.0,12.0,1.0
2,All-Bran,59.425505,335,354.0,45.0,2.0
70,Total Raisin Bran,28.592785,344,334.0,49.0,3.0
0,100% Bran,68.402973,206,315.0,15.0,4.0
52,Post Nat. Raisin Bran,37.840594,334,291.0,44.0,5.0

In [36]:
df.to_excel("processed_data/df_output.xlsx")
df_non_nutritional_ranking.to_excel("processed_data/df_non_nutritional_ranking_output.xlsx")  
df_nutritional_ranking.to_excel("processed_data/df_nutritional_ranking_output.xlsx")
df_nutritional_compare_ranking.to_excel("processed_data/df_nutritional_compare_ranking_output.xlsx")